.shop_card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #253d4e;
}
.shop_card button {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 8px 13px;
  border-radius: 4px;
  background: #3bb77e;
  border: 0;
  cursor: pointer;
}
.shop_card {
  width: 540px;
  height: 300px;
  padding-left: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background-repeat: no-repeat;
}
.shop_cards {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  justify-content: space-between;
}
.shop_card:first-child {
  background-image: url("../../assets/banner-1.png");
}
.shop_card:nth-child(2) {
  background-image: url("../../assets//banner-2.png");
}
.shop_card:last-child {
  background-image: url("../../assets/banner-3.png");
}
