.footer_contents {
  display: flex;
  padding-bottom: 45px;
  border-bottom: 1px solid #bce3c9;
  justify-content: space-between;
}
.footer_contents li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_contents p {
  padding-bottom: 12px;
}
.footer_contents h4 {
  padding-bottom: 6px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 400;
}
.par1 {
  width: 237px;
}
.par2 {
  width: 280px;
}
.footer_contents img {
  padding-bottom: 16px;
}
.footer_contents h3 {
  font-size: 24px;
  font-weight: 700;
  color: #253d4e;
  padding-bottom: 20px;
}
.download {
  padding: 12px 0 24px;
}
.footer_bottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 400;
  color: #7e7e7e;
}
.phone_number {
  display: flex;
  gap: 32px;
}
.phone {
  display: flex;
  gap: 12px;
  align-items: center;
}
.social_medias {
  display: flex;
  align-items: center;
  gap: 5px;
}
.social_medias h4 {
  padding-right: 12px;
  font-size: 18px !important;
  font-weight: 500;
  color: #253d4e;
  margin: 0 !important;
}
.footer_bottom span {
  color: #3bb77e;
}
.phone h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: #3bb77e !important;
  margin: 0 !important;
}
.social_medias p {
  font-size: 16px;
  font-weight: 700;
  color: #253d4e;
  margin: 0 !important;
}
.footer_bottom p {
  margin: 4px;
}
.footer ul h3 {
  margin: 0 !important;
}
.footer_contents p {
  margin: 6px !important;
}
